@keyframes logo-animation {
    0% {
        transform: translateY(-100px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes pretext-animation {
    0% {
        transform: translateY(160px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes opacity-animation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes maintext-animation {
    0% {
        transform: translateY(700px);
        opacity: 0;
    }

    80% {
        transform: translateY(-15px);
        opacity: 1;
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes outlined-animation {
    0% {
        transform: translateY(-75px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes headphone-animation {
    0% {
        transform: scale(0.2);
        opacity: 0;
    }
    100% {
        transform: scale(1), rotate(16deg);
        opacity: 1;
    }
}

@keyframes headphone-animation-2 {
    0% {
        transform: translate(-350px, 400px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

@keyframes headphone-animation-3 {
    0% {
        transform: translate(-350px, 400px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

@keyframes headphone-animation-4 {
    0% {
        transform: translate(-350px, 400px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

@keyframes pulse {
    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }
}

@keyframes exit-animation {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-900px);
    }
}
